{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}
{% block sonata_page_content %}
    {{ parent() }}
    <div class="modal fade acb-modal-add-field">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'content_type.form.add_field'|trans }}</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sonata_form_attributes %}
    class="edit-content-type"
    {% if object.id %}
    data-change-type-url="{{ path('sherlockode_acb_content_type_change_field_type') }}"
    {% endif %}
{% endblock %}
