{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block sonata_page_content %}
    {{ parent() }}
    <div class="modal fade acb-modal-add-field">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add field</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
