{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}
{% block sonata_page_content %}
    {{ parent() }}
    <span class="acb-contenttype-change-link" style="display: none;">{{ 'content_type.errors.alert_change_link'|trans }}</span>
{% endblock %}

{% block sonata_form_attributes %}
    class="edit-content-type"
    {% if object.id %}
    data-change-type-url="{{ path('sherlockode_acb_content_type_change_field_type') }}"
    {% endif %}
{% endblock %}
